

body {
    background-color:lightsalmon;
}

#AboutMe{
    font-weight:bold;

}
#MyWork{
    text-align: center;
    font-weight:bold;

}
#ContactMe{
    text-align: right;
    font-weight: bold;
}

#greeting{
    font-size: xx-large;
    font-weight:bold;
}

