h1{}

body {
    background-color: burlywood;
}

aside{
    border-radius: 20px;
    font-weight: bold;
    text-align: center;
    color: black;
    width: 30%;
    padding-left: 15px;
    margin-left: 15px;
    float: right;
    font-size: x-large;
}

nav {
    text-align: left;
    font-weight: bold;
    font-size: larger;
}

img{


}

h2{
    float: center;

}