h1{
    text-decoration: underline;
}

body {
    background-color: burlywood;
}


header {
    text-align: center;
    font-weight: bold;
    font-size: x-large;
    
}

img{
    width: 800px;
    height: 900px;
    float: center;
}


h2{
    float: center;
    text-decoration: underline;

}
p{ font-family:'Times New Roman', Times, serif
    font-size:large;
    font-weight:bold;
}